RewriteEngine On
RewriteRule ^([a-zA-Z0-9-()]+)-([0-9]+).html$ product.php?url=$1&id=$2

RewriteRule ^lien-he.html$ contact.php

ErrorDocument 404 /shopping1802/404.error.php



#regex regular expression